{deps, [
  {cowboy, {git, "http://github.com/ninenines/cowboy.git", {tag, "2.4.0"} } }
] }.
{plugins, [rebar3_run] }.
{relx, [ {release, {dev, "0.0.1"},
  [guarded]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
] }.
