/*! Copyright 2018, Daniel Oltmanns (https://github.com/oltdaniel) */

// Define some variables
$color-text: #212121
$color-muted: #AAAAAA
$color-error: #DD2C00
$color-accent: #2962ff
$color-accent-dark: #1565C0

// Specify basic elements
*
  font-family: monospace
  font-size: .9rem
  box-sizing: border-box
  outline: none

h2
  font-size: 1.2rem

h1
  font-size: 1.7rem

a
  color: $color-accent-dark

// Specify custom elements
main
  display: flex
  max-width: 960px
  margin: 20px auto

  & > *
    flex: 1
    margin: 0 10px

.explanation
  overflow-x: hidden
  overflow-y: auto

  &, *:not(h2)
    text-align: justify
    font-family: 'Times', serif
    font-size: 1rem

  .info-btn, code
    font-family: monospace
    font-size: .9rem

  p, h2
    padding: 0 10px 3px 10px

  code
    padding: 0 3px
    background-color: #eee

  pre
    white-space: nowrap
    overflow-x: auto

  i
    white-space: nowrap

.window
  max-height: 600px
  height: 90vh
  position: relative
  overflow: hidden
  display: flex
  flex-direction: column
  overflow: hidden
  border-radius: 3px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  .message-history
    flex: auto
    height: 100%
    padding: 10px 0
    overflow-x: hidden
    overflow-y: auto

    .message
      display: block
      margin-bottom: 10px
      padding: 5px

      &.me
        text-align: right

        &:after
          color: $color-muted
          content: " -"

      &.partner
        &:before
          color: $color-muted
          content: "+ "

      &.server
        text-align: center
        color: $color-muted

        &.error
          color: $color-error

      &.info
        text-align: center
        color: $color-accent

  .message-input
    flex: auto
    display: flex
    width: 100%

    input
      flex: 1

.info-btn
  color: $color-accent-dark
  text-decoration: underline
  cursor: pointer

// Input elements
input
  padding: 8px 10px
  border: none
  height: 100%
  border-bottom: 2px solid $color-muted
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  &:focus
    border-bottom-color: $color-accent-dark

button
  padding: 5px 15px
  border: none
  background-color: $color-accent
  color: #FFFFFF

  &:active
    background-color: $color-accent-dark

// General parts
header
  margin: 40px 0
  text-align: center

footer
  margin: 20px 0
  text-align: center

  &, *
    color: $color-muted
